@using System.Configuration

@if (User.Identity.IsAuthenticated)
{
    <li><a href="#"> <i class="glyphicon glyphicon-user"><label>@User.Identity.Name</label></i></a></li>
    
    <li><a href="@ConfigurationManager.AppSettings["MyDomain"]/logout"> <i class="glyphicon glyphicon-log-out"><label>Logout</label></i></a></li>



}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
    <li>@Html.ActionLink("Login", "Login", "Account")</li>


}