
@{
    ViewBag.Title = "Index";
}




<div id="view" class="row align-items-center">
    Please Wait

</div>

@section Scripts{
       <script>
        $(function () {

            $("#view").load("/Admin/Users/List");




        });
    </script>

    <script>

        $.getJSON("/content/TextFile1.txt", function (res) {

            $.each(res, function (key, val) {
                console.log(val);
            });
        });









    </script>
}